.user-profile__pop-up {
  position: absolute;
  top: 50px;
  right: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: #fff;
  z-index: 1;
}

.user-profile__pop-up a {
  padding: 10px 0px;
  font-size: 18px;
  text-align: center;
  color: #000;
  width: 100%;
  border-bottom: 2px solid #5E6C84;
  text-decoration: none;
  transition: 0.5s all ease;
}

.user-profile__pop-up a:hover {
  background-color: #e4e4e4;
}

.user-profile__pop-up a:active {
  background-color: #b6b6b6;
}

.user-profile__pop-up a:first-child {
  border-radius: 10px 10px 0px 0px;
}