@import url('./__header/kanban-list__header.css');
@import url('./__pop-up-btn/kanban-list__pop-up-btn.css');
@import url('./__task-wrapper/kanban-list__task-wrapper.css');
@import url('./__task/kanban-list__task.css');
@import url('./__task-input/kanban-list__task-input.css');
@import url('./__dropdown/kanban-list__dropdown.css');
@import url('./__dropdown-item/kanban-list__dropdown-item.css');
@import url('./__add-card-btn/kanban-list__add-card-btn.css');

.kanban-list {
  position: relative;
  padding: 12px 0px 8px 0px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 282px;
  min-width: 282px;
  max-height: calc(100% - 13px);
  height: fit-content;
  border-radius: 10px;
  background-color: #EBECF0;
}