.kanban-list__add-card-btn {
  margin: 0px 0px 0px 11px;
  padding-left: 20px;
  position: relative;
  display: flex;
  align-self: flex-start;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #5e6C84;
  transition: 0.5s all ease;
}

.kanban-list__add-card-btn:hover {
  opacity: 0.5;
}

.kanban-list__add-card-btn:before {
  position: absolute;
  top: -5px;
  left: 2px;
  content: "+";
  font-size: 26px;
}

.kanban-list__add-card-btn:hover {
  cursor: pointer
}

.kanban-list__add-card-btn:disabled {
  cursor: default;
  opacity: 0.5;
}