@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body {
  font-family: Noto Sans Mono, sans-serif;
}

h1 {
  width: 250px;
  font-family: Arial, sans-serif;
}

h2 {
  width: 10em;
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  width: 20rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
  width: 20%;
  letter-spacing: 3px;
}

ul {
  width: 20vw;
  line-height: 2em;
}

img {
  height: 15vh;
}