@import url('../kanban-list/kanban-list.css');
@import url('./__tooltip/main__tooltip.css');

.main {
  padding: 19px 0px 19px 19px;
  display: flex;
  height: 100%;
  overflow-x: auto;
  background-color: #0079bf;
}